* {
    margin: 0;
}

:root {
    --primary-color: #FF900E;
    --secondary-color: whitesmoke;
    --background-color: #FF900E1A;
    --text-color: #727272;
}

/* Header company section  */
header {
    background-color: var(--background-color);
}

.company {
    display: flex;
}

.company-name {
    font-weight: 500px;
    font-size: 45px;
    margin: 50px 673px 102px 228px;
}

.menu {
    margin-top: 63px;
}

.menu a {
    padding: 40px;
}

/* Header banner section  */

.banner {
    margin: 0 529px 33px;
    text-align: center;
}

.banner-title {
    height: 180px;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    color: var(--text-color);
    margin-bottom: 33px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.banner-image {
    width: 100%;
    height: 100%;
    margin: 50px 240px;
}

/* Quick list of Our Features part */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px 73px 130px 301px;
    width: 342px;
    border-radius: 8px;
}

.main-image img {
    border-radius: 8px;
    padding: 5px;
}

.main-text {
    width: 537px;
    height: 304px;
    margin: 50px 301px 0 0;
}

.main-title {
    width: 468px;
    height: 106px;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
    margin-left: 75px;
}

#quick-list {
    color: var(--text-color);
    font-weight: 500px;
}

#features {
    color: var(--primary-color);
}

.main-description {
    color: var(--text-color);
    margin-bottom: 24px;
    margin-left: 75px;
}

.main-text .btn-primary {
    margin-left: 75px;
}

/* Feature Details styles */
.features {
    display: flex;
    margin: auto 240px 130px 240px;
    justify-content: space-between;
}

.features-info {
    width: 468px;
}

.features-info .features-title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 25px;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    line-height: 26px;
    margin-bottom: 30px;
}

.features-info-box {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);

}

.info-box {
    width: 586px;
    height: 160px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    justify-content: center;
    padding: 30px 30px 30px 40px;
    margin-bottom: 20px;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
}

.box-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
}

.features-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    width: 342px;
    height: 200px;
    position: absolute;
    left: 920px;
    top: 3104px;
}

.btn-title {
    margin: 40px;
    font-weight: 700;
    font-size: 65px;
}

.exp {
    font-weight: 500;
    font-size: 25px;

}

/* Some facts section  */

.facts {
    margin: 130px 1138px 0 240px;
}

.fact-title {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.fact-description {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
}

/* Box sector  */

.main-box {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 100px;
}

.box :hover {
    transform: none;
}

.box-number {
    margin-bottom: 10px;
}

.box-details {
    margin-bottom: 10px;
}

.hovering {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    width: 150px;
    height: 81px;
    padding: 30px;
    text-align: center;
}

.hovering :hover {
    transform: rotate(90deg)
}

/* Sponspors sector  */

.sponspors {
    text-align: center;
    align-items: center;
}

.sponspors-title {
    width: 327px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    margin: 180px 796px 24px 797px;
}

.sponspors-description {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 24px 689px 50px 689px;
}

.sponspors-image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/* copywrite section */

.copywrite {
    background-color: var(--background-color);
    padding: 39px 410px;
    margin: 130px 240px 216px 240px;
    text-align: center;
    width: 620px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
}

/* Starting mobile responsible sector  */

@media only screen and (max-width:667px) {

    /* Header company section  */
    .company {
        display: grid;
        grid-template-columns: 0;
        text-align: center;
        justify-content: center;
        justify-items: center;

    }

    .company-name {
        margin: 0px 20px;
        padding: 0;
        border-radius: 0;
        text-align: center;
    }

    .menu a {
        margin: 20px;
        padding: 0;
    }

    /* Header banner section  */

    .banner {
        margin: auto;
        text-align: center;

    }

    .banner-title {
        height: 80px;
        font-weight: 700;
        font-size: 64px;
    }

    .banner-description {
        color: var(--text-color);
        margin-top: 150px;
    }

    .btn-primary {
        width: 180px;
        height: 64px;
        background-color: var(--primary-color);
        border-radius: 8px;
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 20px;
        border: none;
        margin-top: 20px;
    }

    .banner-image {
        margin: auto 60px auto 0px;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
        margin: 10px 50px 30px 0;
        align-items: flex-start;
        text-align: left;
    }

    /* Quick list of Our Features part */

    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .main-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto 60px auto 10px;
        width: 342px;
        border-radius: 8px;
        flex-direction: column;
    }

    .main-title {
        width: 468px;
        height: 106px;
        font-weight: 500;
        font-size: 45px;
        margin-bottom: 24px;
        margin-left: 10px;
    }

    .main-description {
        color: var(--text-color);
        margin-bottom: 24px;
        margin-right: 200px;
        margin-left: 10px;
    }

    .main-text .btn-primary {
        margin-left: 75px;
    }

    /* Some facts section  */

    .facts {
        margin: 130px 1138px 0 20px;
    }

    .fact-description {
        width: 350px;
        height: 30px;
    }

    /* Box sector  */

    .main-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        box-sizing: border-box;
        margin-top: 100px;

    }

    .box :hover {
        transform: none;
    }

    .box-number {
        margin-bottom: 10px;
    }

    .box-details {
        margin-bottom: 10px;
    }

    .hovering {
        border: 1px solid var(--primary-color);
        border-radius: 8px;
        width: 150px;
        height: 81px;
        padding: 30px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 60px;
    }

    .hovering :hover {
        transform: rotate(90deg)
    }

    /* Sponspors sector  */

    .sponspors {
        text-align: left;
    }

    .sponspors-title {
        margin: 20px 0 0 0;
    }

    .sponspors-description {
        width: 400px;
        height: 30px;
        font-weight: 400;
        font-size: 16px;
        color: var(--text-color);
        margin: 20px 0 0 0;
    }

    .sponspors-image {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;

    }

    .sponspors-image img {
        padding: 20px;
    }

    /* copywrite part  */
    .copywrite {
        background-color: var(--background-color);
        margin: 50px 0 0 0;
        padding: 0 0 0 0;
        width: 400px;
        height: 30px;
        text-align: start;
    }

    .features {
        display: none;
    }

    .features-btn{
        position: static;
    }
}