* {
    margin: 0;
}

:root {
    --primary-color: #FF900E;
    --secondary-color: whitesmoke;
}

/* Header company section  */
header {
    background-color: #FF900E1A;
}

.company {
    display: flex;
}

.company-name {
    /* width: 302px;
    height: 53px; */
    font-weight: 500px;
    font-size: 45px;
    margin: 50px 673px 102px 228px;
}

.menu {
    margin-top: 63px;
}

.menu a {
    padding: 40px;
}

/* Header banner section  */

.banner {
    margin: 0 529px 33px;
    text-align: center;
}

.banner-title {
    /* width: 862px; */
    height: 180px;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    color: #727272;
    margin-bottom: 33px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.banner-image {
    width: 1440px;
    height: 700px;
    margin: 50px 240px;
}

/* Quick list of Our Features part */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px 73px 130px 301px;
    width: 342px;
    border-radius: 8px;
}

.main-image img {
    border-radius: 8px;
    padding: 5px;
}

.main-text {
    width: 537px;
    height: 304px;
    margin: 50px 301px 0 0;
}

.main-title {
    width: 468px;
    height: 106px;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
    margin-left: 75px;
}

#quick-list {
    color: #727272;
    font-weight: 500px;
}

#features {
    color: var(--primary-color);
}

.main-description {
    color: #727272;
    margin-bottom: 24px;
    margin-left: 75px;
}

.main-text .btn-primary {
    margin-left: 75px;
}

/* Some facts section  */

.fact-title {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
}

.fact-description {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
}